@import url("https://fonts.googleapis.com/css2?family=Artifika&display=swap");
/* font-family: artifiko, serif; */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
/* font-family: "Matemasie", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Artifika&family=Roboto+Slab:wght@100..900&display=swap");
/* font-family: "Artifika", serif; */

@import "tailwindcss";

@theme {
  --font-artifiko: "artifiko", "serif";
  --font-Artifika: "Artifika", "serif";

  --color-primary: #48b548;
  --color-secundary: #136913;
  --color-danger: #f00e0e;
  --color-warning: #f6fa0c;
  --default-ring-width: 3px;
  --default-ring-color: var(--color-danger);
   --some-color: #090909;

}

.Toastify__toast-container--top-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
};